<h1>freeCodeCamp Image Search Abstraction Layer</h1>
<p>To get started simply enter a search query like this: <code>https://frozen-woodland-75287.herokuapp.com/imagesearch/food?offset=2</code></p>
<p>Feel free to change the number after offset to whatever you want. You can also enter a search term with spaces included.</p>
<p>To see a list of recent search terms and the date they were submitted simply submit a query to <code>/recentSearches</code></p>
<p>Once you do that you will receive a list of the 10 most recent queries submitted to the application.</p>
